// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

$primary        : #ad1457;   // Violeta claro del logo
$primary-light  : #B28CFF;   // Violeta más suave para fondos
$primary-dark   : #5C2FB2;   // Violeta profundo para contraste

$secondary      : #ad1457;   // Rojo-marrón del local
$secondary-light: #C96A5F;   // Rojo cálido más claro
$secondary-dark : #6E241C;   // Rojo-marrón oscuro

$accent         : #F5F5F5;   // Blanco suave
$accent-light   : #FFFFFF;   // Blanco puro
$accent-dark    : #D9D9D9;   // Gris claro para bordes

// Neutros
$dark           : #2B2B2B;
$dark-page      : #1A1A1A;

// Feedback
$positive       : #4CAF50;
$positive-light : #81C784;
$positive-dark  : #388E3C;

$negative       : #D32F2F;
$negative-light : #E57373;
$negative-dark  : #B71C1C;

$info           : #2196F3;
$info-light     : #64B5F6;
$info-dark      : #1976D2;

$warning        : #FFC107;
$warning-light  : #FFD54F;
$warning-dark   : #FFA000;
